<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<h2>Connexion</h2>

<p style="color: red;" th:if="${param.error}">Nom d'utilisateur ou mot de passe incorrect.</p>

<p style="color: green;" th:if="${param.logout}">Vous avez été déconnecté avec succès.</p>

<form method="post" th:action="@{/login}">
    <label>Nom d'utilisateur:</label>
    <input name="username" required type="text"/>

    <label>Mot de passe:</label>
    <input name="password" required type="password"/>

    <button type="submit">Se connecter</button>

    <p>Pas encore inscrit ? <a href="/register">Crée un compte ici</a></p>
</form>


</body>
</html>
