<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Liste des personnes</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Âge</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}">ID</td>
        <td th:text="${person.name}">Nom</td>
        <td th:text="${person.age}">Âge</td>
        <td>
            <a th:href="@{'/person/edit/' + ${person.id}}">Modifier</a> |
            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette personne ?');"
               th:href="@{'/person/delete/' + ${person.id}}">
                Supprimer
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/person/new}">Ajouter une personne</a>
</body>
</html>